# VCS
.git
.gitignore

# Python caches
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual environments
.venv/
venv/

# Local configs/secrets
.env
.env.*

# Logs
*.log
app/chat_app.log

# Test artifacts
.coverage
htmlcov/

# Large local data not needed in image
qdrant_storage/
*.ipynb

# Editors/IDE
.vscode/
.idea/
*.code-workspace